{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="container">
        <h1>จัดการสินค้า</h1>
        <br/>
        <br/> 



  <div class="row">      
  

        <form class="form-inline " method="POST" action="{% url 'ad่justlist' %}">
        {% csrf_token %}
            <div class="form-group col-sm">
                <label for="inputSearch">ค้นหาชื่อสินค้า:</label>
                <input type="text" class="form-control ml-3" id="inputSearch" 
                    name="inputSearch" placeholder="Search" value="{{search_txt}}">
            </div>
            

             <div class="form-group col-sm">
                <label for="semester">ประเภทสินค้า</label>
                <select class="form-control" id="semester" name="semester">
                    <option value="">--ทั้งหมด--</option>
                    {% for ty in  typess %}
                    <option value="{{ ty.id }}" {% if semester ==  ty.id  %}selected{% endif %}>{{ ty.name }}</option>
                    {% endfor %}

                </select>
            </div>     
             
                <button type="submit" class="btn btn-success col-sm-1">Submit</button>
        </form>
        <br> <br>
</div></div>  

  <div class="container">


        <table class="table  table-hover table-warning">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th> 

                    <th scope="col">Edit</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
               {% for pd in object_list %}
                <tr> <td>{{ pd.id }} </td>
                    <td>{{ pd.name }} </td>
                    <td>{{ pd.types.name }}</td>
                    <td>{{ pd.price }}</td>
                 

                          <td><a href="{% url 'edit' id=pd.id %}">  <div class="btn btn-warning" >Edit</div></td>
                       
                  
                    <td><a href="{% url 'product_delete' id=pd.id %}">
                            <div class="btn btn-primary"  id="{{pd.id}}">Remove</div>
                       
                    </td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
     </div>
 
<br> <br>
<div class="container">  <h1>เพิ่มประเภทสินค้า หรือ สินค้าใหม่</h1><br><br>
 <div class="row">   

              

       <table class="table table-hover table-danger">
            <thead >
                <tr>             
                    <th>ประเภท</th>
                    <th>สินค้า</th></tr>

              <tr>  <td><a href="{% url 'type_add' %}"><div  class="btn btn-light col-sm">เพิ่มประเภท</div></td>
                <td><a href="{% url 'product_add' %}"><div  class="btn btn-light col-sm">เพิ่มสินค้า</div></td>

                            </tr> 
</thead>
   </table >  </div>   

</div>   

<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

