{% extends "base.html" %}
{% load static %}

{% block content %}

<style>

    h2{
        color:white;
    }

</style>

    <div class="container">
       {% if user.is_authenticated %}<h1>บันทึกข้อมูลการขาย</h1> {% else %}<h1>รายการสินค้า</h1>{% endif%}
        <br/>
        <br/> 



  <div class="row">      
  

        <form class="form-inline " method="GET" action="{% url 'index' %}">
            <div class="form-group col-sm">
                <label for="inputSearch">ค้นหาชื่อสินค้า:</label>
                <input type="text" class="form-control ml-3" id="inputSearch" 
                    name="inputSearch" placeholder="Search" value="{{search_txt}}">
            </div>
            

             <div class="form-group col-sm">
                <label for="semester">ประเภทสินค้า</label>
                <select class="form-control" id="semester" name="semester">
                    <option value="">--ทั้งหมด--</option>
                     {% for ty in  typess %}
                    <option value="{{ ty.id }}" {% if semester ==  ty.id  %}selected{% endif %}>{{ ty.name }}</option>
                    {% endfor %}

                    {% comment %} เปลี่ยนเป็นลูปเพื่อที่จะ add ค่าเพิ่มได้ {% endcomment %}

                    {% comment %} <option value="2" {% if semester == '2' %}selected{% endif %}>ของหวาน</option>
                    <option value="3" {% if semester == '3' %}selected{% endif %}>ขนมปัง</option>
                    <option value="4" {% if semester == '4' %}selected{% endif %}>ของทอด</option>
                    <option value="5" {% if semester == '5' %}selected{% endif %}>ไอติม</option>
                    <option value="6" {% if semester == '6' %}selected{% endif %}>อาหารจีน</option>
                    <option value="7" {% if semester == '7' %}selected{% endif %}>บะหมี่กึ่งสำเร็จรูป</option> {% endcomment %}

                </select>
            </div>     
             
                <button type="submit" class="btn btn-success col-sm-1">Submit</button>
        </form>
        <br> <br>
</div></div>  

  <div class="container">
{% if user.is_authenticated %}<div class="row">
<div class="col-sm-6">  {%endif%} 

        <table class="table table  table-hover table-warning">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th> 
                    
                {% if user.is_authenticated %}    <th scope="col">Add to cart</th>{% endif%}

                </tr>
            </thead>
            <tbody>
               {% for pd in object_list %}
                <tr>
                    <td>{{ pd.name }} </td>
                    <td>{{ pd.types.name }}</td>
                    <td>{{ pd.price }}</td>
                    

                   {% if user.is_authenticated %}<td>

                    <form method="POST" action="{% url 'add_cart' id=pd.id %}">
                    {% csrf_token %}
                   

                    <button type="submit" class="btn btn-warning " id="{{pd.id}}">Add Cart</button>
                    
                    
                    </form>

                       
                    </td>{% endif%}
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
     </div>

   
{% if user.is_authenticated %}


<div class="col-sm-6 "> 
<table width=100% >

           <thead>     
        <tr>
            <th style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700" > <a  href="">
            <img src="{% static "cart.png" %}" width='60px'></a>Cart  <br>Date : {% now "D, d M , Y "%}</th>
            <th style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700"> Amount</th>
            <th style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700">Remove</th>
            
              </tr>      
            </thead>
            <tbody>
                {% for pd in list_order %}
<tr>
                    <td style="border:5px dashed #FFD700;" bgcolor="#fffff">{{pd.product_id.name}}</td>
                    <td style="border:5px dashed #FFD700;" bgcolor="#fffff"> x {{pd.amount}}</td>
                    <td style="border:5px dashed #FFD700;" bgcolor="#fffff"><a href="{% url 'cart_delete' id=pd.product_id_id %}">
                            <div class="btn btn-primary"  id="{{pd.product_id}}">Remove</div>
                       
                    </td>


                    </tr>
 {% endfor %} 

                <td style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700">Total : {{total}} Bath</td>
                 <td style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700">{{count}}</td>
                   <td style="border:5px dashed #FFD700;" cellspacing="5" bgcolor="#FFD700">  
                            <form  class="form-inline "  action="{% url 'index' %}" method="POST">{% csrf_token %}
                            <input type="submit"  class="btn btn-danger col-sm-12" value="Sale"></form> </td> 
              
                    </tr>
            </tbody>
</table>  
</div>


{% endif%}


</div>
</div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

